<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="logs/take-break.log" filePattern="logs/take-break-%d{yyyyMMdd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="take-break" level="INFO"/>
		<Root level="warn">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>
